Django==3.0.5
djangorestframework
djongo
dnspython
gunicorn
Keras
tensorflow
numpy==1.19.2
sqlparse == 0.2.4
pandas
SoundFile==0.10.3.post1
joblib==1.0.1
librosa==0.8.0
matplotlib
Pillow==8.2.0
opencv-python
h5py==3.1.0
django-cors-headers